<%- include('layout/header') %>
    <div style="width: 1000px;
  	margin: 0 auto;">
        <h2 style="margin: 0;
        padding: 25px 0;
        font-size: 22px;
        border-bottom: 1px solid #ebebeb;
        color: #666666;">Home</h2>
        <p>Welcome to the home page!</p>
    </div>
    
<%- include('layout/footer') %>
